@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0a0a0a;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #e8e7e7;
    background: var(--background);
    overflow-x: hidden;
}
